body {
    font-family: Arial, sans-serif;
    text-align: center;
    }

.hangman {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.hangman > div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    margin: 2px;
}
.hangman > div.dead {
    background-color: red;
}
